* { /* universal selector */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Project wide font definitions */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}
/* Headers class */
.header-home {
    height: 100vh; 
    background-image: url(../img/landing.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;
}

.header-games {
    height: 100vh; 
    background-image: url(../img/games.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;
}

.header-fashion {
    height: 100vh; 
    background-image: url(../img/fashion.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;
}

.header-music {
    height: 100vh; 
    background-image: url(../img/music.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;
}

.header-art {
    height: 100vh; 
    background-image: url(../img/art.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;
}

.header-contact {
    height: 100vh; 
    background-image: url(../img/contact.jpg);
    background-size: cover; 
    background-position: top;
    position: relative;
}

.header-basico {
    overflow: hidden;
    background-color: #1F2739;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px; 
}

.logo {
    height: 90px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* now the %s are no longer in relation to a parent element, but to the element itself */
    
    text-align: center;
}

/* Style the headings */
.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; 
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.heading-primary-main {
    display: block; /* use block element to stack the headings */
    font-size: 60px;
    font-weight: 400;

    letter-spacing: 35px;
    direction:rtl;
    text-indent:-35px; /* counteract letter-spacing for last character */

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;

    letter-spacing: 17px;
    direction:rtl;
    text-indent:-17px;

    /* shorten property */
    animation: moveInRight 1s ease-out;
}
/* Add animations */
@keyframes moveInLeft {
    0% { /* the start */
        opacity: 0;
        transform: translateX(-100px); /* goes 100 px to the left of the x-axis */
    }
    
    80% {
        transform: translateX(10px);
    }

    100% { /* the end */
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% { /* the start */
        opacity: 0;
        transform: translateX(100px); /* goes 100 px to the right of the x-axis */
    }
    
    80% {
        transform: translateX(-10px);
    }

    100% { /* the end */
        opacity: 1;
        transform: translateX(0);
    }
}
/* Add a black background color to the top navigation using BEM */
.top_nav {
    overflow: hidden;
    padding: 20px 10px;
    /* Style list */
    &__list {
        float: right;
        padding: 30px;
    }
    /* List Items */
    &__item {
        display: inline;
        text-decoration: none;
    }
    /* Links */
    &__link {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
    }
    /* Link on hover */
    &__link:hover {
        color: #00ff22;
    }
    /* Style active status */
    &__link-active {
        color: #00ccff;
    }
}
/* Style top games */
.top-games {
    background-color: rgb(130, 69, 180);

    &__container {
        display: table;
        text-align: center;
        overflow: hidden; 
        width: 50%;
        margin: 0 auto;
        padding: 50px 0 50px 0;
    }

    &__table {

    }

    &__table th h1 {
        font-weight: bold;
        font-size: 1em;
        text-align: left;
        color: #185875;
    }

    &__table td {
        font-weight: normal;
        font-size: 1em;
    }

    &__table td th {
        padding: 2%;
    }

    &__table tr:nth-child(odd) {
        background-color: #323C50;
    }

    &__table tr:nth-child(even) {
        background-color: #2C3446;
    }

    &__table th {
        background-color: #1F2739;
    }

    &__table td:first-child { 
        color: #FB667A;
    }
    
    &__table td:hover {
        background-color: #FFF842;
        color: #403E10;
        font-weight: bold;
    }
}


.table-container th h1 {

}

.table-container td {

}

.table-container td, .table-container th {
}

/* Background-color of the odd rows */
.table-container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.table-container tr:nth-child(even) {
    background-color: #2C3446;
}

.table-container th {
    background-color: #1F2739;
}

.table-container td:first-child { 
    color: #FB667A;
}

.table-container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
}

/* Style music genres with flexbox */
.music-genres-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
}
.music-genres-container {
    display: block;
    margin: 0 auto;
    padding: 15px 0 50px 0;
    background-color: #FB667A;
}
.music-genres-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.music-image-box {
    position: relative;
    text-align: center;
    color: white;
}
.music-genres-img {
    width: 300px;
}
/* Image centered text */
.image-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.unstyled-link  {
    text-decoration: none;
    color: white;
}
/* Styling image gallery with grids */
.top-bands-container {
    display: block;
    background-color: black;
    padding: 15px 50px 50px 50px;
}
.top-bands-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
}
.top-bands-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1.5rem; 
}
.top-bands-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-bands-gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.top-bands-gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.top-bands-gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
.top-bands-gallery-item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
.top-bands-gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.top-bands-gallery-item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
/* Contact Form */
/* Clean inputs and text areas for a simpler look */
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}
/* Clean the button */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/* Style container */
.container {
	max-width: 1200px;
}
.container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    
}
  
.wrap-contact100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px 55px;
}

.contact100-form {
    width: 100%;
}
  
.contact100-form-title {
    display: block;
    font-size: 37px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
}

.label-input100 {
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    padding-left: 5px;
}
  
.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    padding: 0 5px;
}
  
input.input100 {
    height: 40px;
}

textarea.input100 {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
}
  
/* Button */
.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}
  
.wrap-contact100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
  
.contact100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}
  
.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
    left: 0;
}
  
.contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}
  
/* Responsive */
@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 72px 15px 65px 15px;
    }
}

/* Styling fashion page with operators */
$fashion-font-size: 20px;
$fashion-back-color: rgb(16, 40, 83);
$five-percent-side-padding: 0 5% 0 5%;

.fashion {
    display: block;
    background-color: $fashion-back-color;
    padding: 15px 50px 50px 50px;

    &__header {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: $fashion-font-size * 2;
        font-weight: 400;
        color: #fff;
    }

    &__text-box {
        display: flex;
        justify-content: center;
        padding: $five-percent-side-padding;
    }
}

/* Make carousel images responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }